body {
  width: 80%;
  margin: 30px auto;
  font-family: 'Work Sans', sans-serif;
}

.roster {
  font-size: 0;
}

.roster a {
  font-size: 16px;
  overflow: hidden;
  display: inline-block;
  margin-bottom: 8px;
  width: calc(50% - 4px);
  margin-right: 8px;
  pointer-events: none;
}

.roster a:nth-of-type(2n) {
  margin-right: 0;
}

@media screen and (min-width: 50em) {
  .roster a {
    width: calc(25% - 6px);
  }
  
  .roster a:nth-of-type(2n) {
    margin-right: 8px;
  }
  
  .roster a:nth-of-type(4n) {
    margin-right: 0;
  }
}

.roster a:hover img {
  transform: scale(1.025);
}

.roster a img {
  transform: scale(1.025);
  -webkit-filter: grayscale(00%); /* Safari 6.0 - 9.0 */
  filter: grayscale(00%);
  transition: all 0.8s ease;
}

figure {
  margin: 0;
}

.roster img {
  border: none;
  max-width: 100%;
  height: auto;
  display: block;
  background: #ccc;
  transition: transform .2s ease-in-out;
}

#logo{
  margin-bottom: 20px;
}

footer{
  margin-top: 20px;
  font-size: 14px;
  font-weight: 200;
  color: #000;
}

footer a{
  font-size: 14px;
  font-weight: 200;
  color: #000;
  text-decoration: none;
}

footer a:hover{
  text-decoration: underline;
}
