html, body {
	font-family: 'Work Sans', sans-serif;
	margin: 0;
	padding: 0;
}

.footer{
	display: block;
}

#logo{
	margin-top: 2.5%;
	margin-left: 5%;
}

div.footer-fixed-left{
	position: absolute;
    left: 5%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}
div.footer-fixed-right{
	position: absolute;
    right: 5%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

.footer-fixed-right{
	font-size: 10px;
	font-weight: 200;
	color: #9B9B9B;
}

div a{
	color: #000;
	text-decoration: none;
}

.selected{
	font-weight: 600;
}

.card img{
	width: 240px;
	height: auto;
}

.card{
	display: inline;
}

.roster{
	margin: 2.5% auto 2.5% auto;
	text-align: center;
	width: 500px;
}


.footer-fixed-left a:hover{
	text-decoration: underline;
}

.roster img {
    -webkit-filter: grayscale(00%); /* Safari 6.0 - 9.0 */
    filter: grayscale(000%);
}

.roster img:hover {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(00%);
 	transition: all 0.8s ease;
 	background-color: rgba(0,0,0,.5);
}

@media only screen and (max-width: 600px) {
	.card img{
		width: 180px;
		height: auto;
	}
	.roster{
		margin: 10% auto 0 auto;
		width: 100%;
	}

	div.footer-fixed-left{
		font-size: 14px;
		bottom: 2.5%;
	}

	div.footer-fixed-right{
		font-size: 8px;
		bottom: 2.5%;
	}
}
