html, body {
	font-family: 'Work Sans', sans-serif;
	margin: 0;
	padding: 0;
}

#logo{
	margin-top: 5%;
	margin-left: 5%;
}

div.footer-fixed-left{
	position: fixed;
    bottom: 5%;
    left: 5%;
}
div.footer-fixed-right{
	position: fixed;
    bottom: 5%;
    right: 5%;
}

.footer-fixed-right{
	font-size: 10px;
	font-weight: 200;
}

div a{
	color: #000;
	text-decoration: none;
}

.selected{
	font-weight: 600;
}

.card img{
	width: 280px;
	height: auto;
}

.card{
	display: inline;
}

.roster{
	margin: 5% auto 0 auto;
	text-align: center;
	width: 800px;
}


.footer-fixed-left a:hover{
	text-decoration: underline;
}

.roster img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.roster img:hover {
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
 	transition: all 0.8s ease;
}

@media only screen and (max-width: 600px) {
	.card img{
		width: 180px;
		height: auto;
	}
	.roster{
		margin: 10% auto 0 auto;
		width: 100%;
	}


}